/* Global styles reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-archivo), sans-serif;
}
